<ng-template [ngIf]="room">
    <app-search class="container"></app-search>
    <app-queue class="container"></app-queue>
    <app-chat class="container"></app-chat>
    <app-progress></app-progress>
    <app-options (leaveEvent)="room = ''"></app-options>
</ng-template>

<ng-template [ngIf]="!room">
    <button id="logout" (click)="logout()">
        <p>Logout</p>
        <span class="material-icons">
        logout</span>
    </button>
    <div id="front-page">
        <app-profile></app-profile>

        <div id="create-join">
            <p id="instruction">Join a room by entering its 4-digit code or <br>Create a new one</p>
            <input [(ngModel)]="inputRoom" id="inputRoom" placeholder="Enter Room Code" autocomplete="off">
            <div id="button-container">
                <button id="join" (click)="joinRoom()">Join</button>
                <p id="or">OR</p>
                <button id="create" (click)="createRoom()">Create</button>
            </div>
            <p id="error" *ngIf="error$ | async as error" @fadeInOut>{{ error }}</p>
        </div>
    </div>
</ng-template>


