
<div class="input-container" id="search-container">
    <input 
        (keyup)="search($event)" 
        [(ngModel)]="keyWord" 
        placeholder="Search YouTube"
        spellcheck="false">
    <span class="loading" *ngIf="isSearchLoading$ | async else noLoading"></span>
    <ng-template #noLoading>
        <span class="material-icons" (click)="search($event, true)">
            search
        </span>
    </ng-template>
</div>

<div id="results" [@wave]="(searchResults$ | async)!.length ? 'added' : 'removed'">
    <app-song
        *ngFor="let song of searchResults$ | async"
        class="nonstatic" 
        [song]="song"
        (click)="add(song)">
    </app-song>
</div>
