:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}

:host #pfp-container {
    width: 40%;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

:host #pfp {
    width: 100%;
    aspect-ratio: 1;
    background-color: #afb2ba;
    color: #242731;
    font-size: 4rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: relative;
}

:host #pfp-container #underlay {
    opacity: 0;
    z-index: 4;
    border-radius: 50%;
    padding: .2rem;
    width: 100%;
    height: 100%;
    transition: .2s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #a7acb8;
    backdrop-filter: blur(3px);
}

:host button {
    all: unset;
    cursor: pointer;
    transition: .2s;
}

:host button:hover {
    filter: brightness(1.3);
}

:host #pfp-container:hover #underlay {
    opacity: 1;
}

:host #username {
    all: unset;
    font-size: 1.8rem;
    margin: 1.4rem 0 0 0;
    text-align: center;
    background-color: transparent;
    border-radius: .3rem;
    padding: .5rem .5rem;
    width: 70%;
    transition: .2s;
}

:host #username:focus {
    background-color: #242731;
}

@media screen and (max-width: 480px) {
    :host {
        width: 100%;
        height: unset;
    }

    :host #pfp {
        font-size: 3rem;
    }

    :host #username {
        font-size: 1.6rem;
    }
}
